<div class="card m-5 p-2" id="listPatientContainer">
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter the login user"
                aria-label="Recipient's username" aria-describedby="searchButton" id="searchUser">
            <button class="btn btn-primary" type="button" id="searchUserButton">Search</button>
            <button routerLink="../new-user" class="btn btn-success ml-2" (click)="newUser()" >New User</button>
        </div>
        <br>
        <table class="table table-bordered table-hover table-striped">
            <thead class="text-center">
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
                <th>Login</th>
                <th></th>
            </thead>
            <tbody class="text-center" id="tbodyUser">
                <tr *ngFor="let user of this.userService.userList; let index = index">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.login }}</td>
                    <td class="p-1">
                        <div class="d-flex gap-1 justify-content-center p-0 m-0">
                            <div class="mx-1 btn btn-danger d-flex align-items-center justify-content-center" (click)="deleteUser(user)" >
                                <span class="material-icons-sharp">delete</span>
                            </div>
                            <div class="mx-1 btn btn-success d-flex align-items-center justify-content-center" (click)="updateUser(user)">
                                <span class="material-icons-sharp">edit</span>
                            </div>
                            <div class="mx-1 btn btn-primary d-flex align-items-center justify-content-center">
                                <span class="material-icons-sharp">description</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
