<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Nome da mãe</th>
                <th scope="col">Nome do pai</th>
                <th scope="col">Sexo</th>
                <th scope="col">Data de nascimento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Jacob Thornton</th>
                <td>123.456.789-10</td>
                <td>Mãe do Jacob</td>
                <td>Pai do Jacob</td>
                <td>Masculino</td>
                <td>19/08/1997</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Nome da Rua</th>
                <th scope="col">Número</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Complemento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Av Los Robles Avenue</th>
                <td>2311</td>
                <td>South Pasadena</td>
                <td>Pasadena</td>
                <td>California</td>
                <td>Apartamento 4A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <p class="text-center mt-2">
              Atendimento 01 - 2022-09-08 10:15:00
            </p>
            <div class="card-body pt-0">
              <label for="descricaoAtendimento" class="form-label">Descrição do Atendimento</label>
              <textarea class="form-control" id="descricaoAtendimento" rows="6">
                O atendimento ocorreu conforme o que está descrito nessa descrição
              </textarea>
            </div>
          </div>
        </div>
      </div>

      </div>
      </div>
      </div>
