<section class="row initial p-0 m-0">

    <div class="col team-image">
        <a class="text-primary" routerLink="">
            <img class="logo" src="../../../assets/icons/logo.png" alt="">
        </a>

        
    </div>


    <div class="col background-color d-flex justify-content-center">
        <div class="align-self-center text-end w-75">
            <div class="row d-flex" *ngFor="let team of this.teamService.teamList">
                <div class="col-12">
                        <div class="card mb-1" >
                            <div class="card-body box-profile">
                                <div class="d-flex">
                                    <div class="text-center">
                                        <img class="profile-user-img img-fluid img-circle mr-3" src="{{team.image}}" alt="{{team.name}}">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <h2 class="">{{team.name}}</h2>
                                        <p class="text-muted ">{{team.college}}</p>
                                        <div>
                                            <a href="{{team.github}}" target="_blank" class="btn btn-secondary"><b>GitHub</b></a>
                                            <a href="{{team.linkedin}}" target="_blank" class="btn btn-primary ml-2"><b>LinkedIn</b></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p>Inicialmente nossa time contava com 3 integrantes, infelizmente devido a problemas pessoais nossa colega Bárbara Ribeiro precisou sair do curso um pouco antes dos modulos de Angular e Soring. Hoje o time é composto apenas pelos integrantes Emerson e Welliton</p>
                </div>
            </div>

        </div>

        
    </div>
    
</section>