<div class="card m-5 p-2" id="newDoctorContainer">
    <div class="card-body">
        <form action="/salvo.html" enctype="text/plain" method="get" id="formNewDoctor" ngNativeValidate>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorName" class="form-label">Doctor's name:</label>
                            <input type="text" class="form-control"
                                id="doctorName" placeholder="Doctor's name" [(ngModel)]="doctor.name" name="name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorCPF" class="form-label">CPF doctor:</label>
                            <input type="text" class="form-control"
                                id="doctorCPF" placeholder="000.000.000-00" [(ngModel)]="doctor.cpf" name="cpf">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorMotherName" class="form-label">Mother's name:</label>
                            <input type="text" class="form-control"
                                id="doctorMotherName" placeholder="Mother's name" [(ngModel)]="doctor.nameMother" name="nameMother">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorFatherName" class="form-label">Father's name:</label>
                            <input type="text" class="form-control"
                                id="doctorFatherName" placeholder="Father's name" [(ngModel)]="doctor.nameFather" name="nameFather">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Genre:</label> 
                                
                            <select class="form-select form-control" [(ngModel)]="doctor.genre" name="genre">
                              <option *ngFor="let genre of genreBox" >{{ genre }}</option>
     
                            </select>
                          </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorBirthDate"
                                class="form-label">Birth Date:</label>
                            <input type="date" class="form-control"
                                id="doctorBirthDate" [(ngModel)]="doctor.birth" name="birth">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorStreet" class="form-label">Street:</label>
                            <input type="text" class="form-control"
                                id="doctorStreet" placeholder="Nome da rua" [(ngModel)]="doctor.streetName" name="streetName">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorHomeNumber"
                                class="form-label">Number:</label>
                            <input type="number" class="form-control"
                                id="doctorHomeNumber" placeholder="Number" [(ngModel)]="doctor.numberHome" name="numberHome">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorDistrict"
                                class="form-label">District:</label>
                            <input type="text" class="form-control"
                                id="doctorDistrict" placeholder="District" [(ngModel)]="doctor.district" name="district">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorCity"
                                class="form-label">City:</label>
                            <input type="text" class="form-control"
                                id="doctorCity" placeholder="City" [(ngModel)]="doctor.city" name="city">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorState"
                                class="form-label">State:</label>
                            <input type="text" class="form-control"
                                id="doctorState" placeholder="State" [(ngModel)]="doctor.state" name="state">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorCountry"
                                class="form-label">País:</label>
                            <input type="text" class="form-control"
                                id="doctorCountry"
                                placeholder="Country" [(ngModel)]="doctor.country" name="country">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorRegisterNumber"
                                class="form-label">Register number:</label>
                            <input type="text" class="form-control"
                                id="doctorRegisterNumber"
                                placeholder="00000000-00" [(ngModel)]="doctor.registerNumber" name="registerNumber">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorRegisterState"
                                class="form-label">Register State:</label>
                            <input type="text" class="form-control"
                                id="doctorRegisterNumber"
                                placeholder="Santa Catarina" [(ngModel)]="doctor.registerState" name="registerState">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorSpecialty"
                                class="form-label">Specialty:</label>
                            <input type="text" class="form-control"
                                id="doctorSpecialty"
                                placeholder="Specialty" [(ngModel)]="doctor.specialty" name="specialty">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center gap-1">
                <button type="submit" class="mx-1 btn btn-primary" [hidden]="!updateButtonHidden" (click)="createDoctor()">Save</button>
                <button type="submit" class="mx-1 btn btn-success" [hidden]="updateButtonHidden" (click)="updateDoctor()">Update</button>
                <button type="reset" class="mx-1 btn btn-outline-danger" (click)="cancelRecord()">Cancel</button>

            </div>
        </form>
      
    </div>
</div>